<template>
	<div>
        <div class="row">
            <div id="sidebar" class="col-lg-2">
                <Sidebar v-show="$route.name!=='login'"></Sidebar>
            </div>
            <div class="col-lg-10">
				<router-view></router-view>
            </div>
        </div>
	</div>
</template>

<script>
    import Sidebar from './Sidebar'

	export default {
		name: "Apps",
        components: {
            Sidebar
        },
		data() {
			return {
			}
		},

		created() {
            this.$store.commit('fullName', localStorage.getItem( 'user_name' ));
            if (localStorage.getItem( 'user_role' ) == 1) {
                this.$store.commit('setIsAdmin', true);
            } else {
                this.$store.commit('setIsAdmin', false);
            }
		}
	};
</script>