<template>
    <div>
        <h3>Change Password</h3>
        <form @submit.prevent="submit()">
            <span class="txt1 p-b-11">Password</span>
            <input id="password" type="password" class="form-control" v-model="password" value="" required>
            <span class="txt1 p-b-11">Confirm Password</span>
            <input id="password2" type="password" class="form-control" v-model="password2" required>
            <br>
            <button type="submit" class="btn btn-dark">Login</button>
        </form>
    </div>
</template>

<script>
    export default {
        name: 'App',

        data() {
            return {
                password: "",
                password2: ""
            };
        },

        created() {
        },

        methods: {
            submit : function() {
                var fields = {
                    id: localStorage.getItem( 'user_id' ),
                    password:this.password,
                    password2:this.password2
                };

                axios.post('/api/change-password', fields)
                .then(res => {
                    alert(res.data['message']);
                })
                .catch(error  => {
                    if (error.response.status == 422) {
                        var err_msg = "";
                        $.each(error.response.data.errors, function(key, value){
                            err_msg += "" + value[0] + "\n";
                        });
                        alert(err_msg);
                    }
                });
            }

        }

    }
</script>
