<template>
    <div>
        <h3>Expenses</h3>
        <table id="user-data" class="table table-bordered">
            <thead>
                <tr>
                    <th width="30%">Expense Category</th>
                    <th width="30%">Amount</th>
                    <th width="20%">Entry Date</th>
                    <th width="20%">Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(row, key) in rows" v-bind:key="row.id" v-on:click="getData(row.id)">
                    <td>{{ row.expense_category_name }}</td>
                    <td>{{ row.amount }}</td>
                    <td>{{ row.entry_date }}</td>
                    <td>{{ row.created_at }}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-2 text-right">
                <b-button v-b-modal.formModal @click="hideDeleteBtn">Add Expenses</b-button>
            </div>
        </div>

        <b-modal ref="formModal"  id="formModal" title="Add Expenses" hide-footer>
            <form @submit.prevent="submit()">
                <div class="row">
                    <div class="col-lg-4">
                        Expense Category
                    </div>
                    <div class="col-lg-8">
                        <select id="expense_category_id" class="form-control" v-model="expense_category_id">
                            <option value=""></option>
                            <option v-for="(expense_category, key) in expense_categories" :value="expense_category.id">{{ expense_category.name }}</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        Amount
                    </div>
                    <div class="col-lg-8">
                        <input id="amount" type="text" class="form-control" v-model="amount" value="">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        Entry Date
                    </div>
                    <div class="col-lg-8">
                        <input id="entry_date" type="date" class="form-control" v-model="entry_date">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-2 text-right">
                        <button type="button" class="btn btn-danger" v-on:click="rowDelete(id)" v-if="deleteBtn">Delete</button>
                    </div>
                    <div class="col-lg-10 text-right">
                        <input id="id" type="hidden" class="form-control" v-model="id">
                        <b-button @click="hideModal()">Cancel</b-button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </b-modal>
    </div>
</template>

<script>
    import { BButton, BModal, VBModal } from 'bootstrap-vue'  
    export default {
        name: 'App',
        components: { BButton, BModal },
        directives: { 'b-modal': VBModal },

        data() {
            return {
                id : '',
                user_id : '',
                expense_category_id : '',
                amount : '',
                entry_date : '',
                created_at : '',
                deleteBtn: true,

                rows : [],
                row : {
                    id : '',
                    expense_category_id : '',
                    expense_category_name : '',
                    amount : '',
                    entry_date : '',
                    created_at : ''
                },

                expense_categories: []
            };
        },


        created() {
            this.fetchRows();
            this.fetchRoles();
        },

        methods : {
            hideModal() {
                this.$refs['formModal'].hide();
            },
            
            fetchRoles() {
                fetch('/api/expense-category')
                    .then(res => res.json())
                    .then(res => {
                        this.expense_categories = res['data'];
                    });
            },

            hideDeleteBtn() {
                this.deleteBtn = false;
                this.id = '';
                this.user_id = '';
                this.expense_category_id = '';
                this.amount = '';
                this.entry_date = '';
            },

            getData(param_id) {
                fetch('/api/expenses/' + param_id)
                    .then(res => res.json())
                    .then(res => {
                        this.id = res.id;
                        this.user_id = res.user_id;
                        this.expense_category_id = res.expense_category_id;
                        this.amount = res.amount;
                        this.entry_date = res.entry_date;
                });

                this.deleteBtn = true;
                this.$refs['formModal'].show();
            },

            fetchRows() {
                fetch('/api/expenses')
                    .then(res => res.json())
                    .then(res => {
                        this.rows = res['data'];
                    });
            },

            rowDelete: function(id) {

                var fields = {
                    id: this.id,
                    _method: 'DELETE'
                };

                axios.post('/api/expenses/' + id, fields)
                .then(res => { 
                    this.fetchRows();
                    alert(res.data['message']);
                    this.$refs['formModal'].hide();
                })
                .catch(error  => {
                    if (error.response.status == 422) {
                        var err_msg = "";
                        $.each(error.response.data.errors, function(key, value){
                            err_msg += "" + value[0] + "\n";
                        });
                        alert(err_msg);
                    }
                });

            },

            submit: function() {

                var fields = {
                    id: this.id,
                    //user_id: this.user_id,
                    user_id: 1,
                    expense_category_id: this.expense_category_id,
                    amount: this.amount, 
                    entry_date: this.entry_date
                };

                var url = '/api/expenses';

                if (this.id != '') {
                    url = '/api/expenses/' + this.id;
                    fields['_method'] = 'PUT';
                }

                axios.post(url, fields)
                .then(res => {
                    if (this.id == '') {
                        this.id = '';
                        this.user_id = '';
                        this.expense_category_id = '';
                        this.amount = '';
                        this.entry_date = '';
                    }
                    alert(res.data['message']);
                    this.fetchRows();
                })
                .catch(error  => {
                    if (error.response.status == 422) {
                        var err_msg = "";
                        $.each(error.response.data.errors, function(key, value){
                            err_msg += "" + value[0] + "\n";
                        });
                        alert(err_msg);
                    }
                });

            }
        }
    }
</script>
