<template>
    <div>
        <h3>Expense Category</h3>
        <table id="user-data" class="table table-bordered">
            <thead>
                <tr>
                    <th width="40%">Name</th>
                    <th width="40%">Description</th>
                    <th width="20%">Created At</th>
                </tr>
            </thead>
            <tbody v-for="(row, key) in rows" v-bind:key="row.id">
                <tr v-on:click="getData(row.id)">
                    <td>{{ row.name }}</td>
                    <td>{{ row.description }}</td>
                    <td>{{ row.created_at }}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-2 text-right">
                <b-button v-b-modal.formModal @click="hideDeleteBtn">Add Expense Category</b-button>
            </div>
        </div>

        <b-modal ref="formModal"  id="formModal" title="Add Expense Category"  hide-footer>
            <form @submit.prevent="submit()">
                <div class="row">
                    <div class="col-lg-4">
                        Name
                    </div>
                    <div class="col-lg-8">
                        <input id="name" type="text" class="form-control" v-model="name" value="">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        Description
                    </div>
                    <div class="col-lg-8">
                        <input id="description" type="text" class="form-control" v-model="description">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-2 text-right">
                        <button type="button" class="btn btn-danger" v-on:click="rowDelete(id)" v-if="deleteBtn">Delete</button>
                    </div>
                    <div class="col-lg-10 text-right">
                        <input id="id" type="hidden" class="form-control" v-model="id">
                        <b-button @click="hideModal()">Cancel</b-button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </b-modal>

    </div>
</template>

<script>

    import { BButton, BModal, VBModal } from 'bootstrap-vue'  
    export default {
        name: 'App',
        components: { BButton, BModal },
        directives: { 'b-modal': VBModal },

        data() {
            return {
                id : '',
                name : '',
                description : '',
                deleteBtn: true,
                rows : [],
                row : {
                    id : '',
                    name : '',
                    description : '',
                    created_at : ''
                }
            };
        },


        created() {
            this.fetchRows();
        },

        methods : {
            hideModal() {
                this.$refs['formModal'].hide();
            },
            
            hideDeleteBtn() {
                this.deleteBtn = false;
                this.id = '';
                this.name = '';
                this.description = '';
            },
            fetchRows() {
                fetch('/api/expense-category')
                    .then(res => res.json())
                    .then(res => {
                        this.rows = res['data'];
                    });
            },

            getData(param_id) {
                fetch('/api/expense-category/' + param_id)
                    .then(res => res.json())
                    .then(res => {
                        this.id = res.id;
                        this.name = res.name;
                        this.description = res.description;
                });

                this.deleteBtn = true;
                this.$refs['formModal'].show();
            },

            rowDelete: function(id) {

                var fields = {
                    id: this.id,
                    _method: 'DELETE'
                };

                axios.post('/api/expense-category/' + id, fields)
                .then(res => { 
                    this.fetchRows();
                    alert('Expense Category Successfully Deleted!');
                    this.$refs['formModal'].hide();
                })
                .catch(error  => {
                    if (error.response.status == 422) {
                        var err_msg = "";
                        $.each(error.response.data.errors, function(key, value){
                            err_msg += "" + value[0] + "\n";
                        });
                        alert(err_msg);
                    }
                });

            },

            submit: function() {

                var fields = {
                    id: this.id,
                    name: this.name, 
                    description: this.description
                };

                var url = '/api/expense-category';

                if (this.id != '') {
                    url = '/api/expense-category/' + this.id;
                    fields['_method'] = 'PUT';
                }

                axios.post(url, fields)
                .then(res => {
                    if (this.id == '') {
                        this.name = '';
                        this.description = '';
                        this.id = '';
                    }
                    alert(res.data['message']);
                    this.fetchRows();
                })
                .catch(error  => {
                    if (error.response.status == 422) {
                        var err_msg = "";
                        $.each(error.response.data.errors, function(key, value){
                            err_msg += "" + value[0] + "\n";
                        });
                        alert(err_msg);
                    }
                });

            }
        }
    }
</script>
