<template>
    <div>
        <h3>Home</h3>
        <highcharts class="hc" :options="chartOptions" ref="chart"></highcharts>
    </div>
</template>

<script>
    import {Chart} from 'highcharts-vue'
    export default {
        name: 'App',

        components: {
            highcharts: Chart 
        },

        data() {
            return {
                user_id: "",
                full_name: "",
                chart_data: [],
                //prop: ['chart_data'],
                chartOptions: {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: 'Expenses Chart'
                    },
                    series: [{
                        name: 'Total',
                        colorByPoint: true,
                        data: []
                    }],
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    }
                }
            };
        },

        created() {
            this.user_id = localStorage.getItem( 'user_id' );
            this.fetchChartData();
        },

        methods: {
            fetchChartData() {

                fetch('/api/data-chart/' + this.user_id)
                .then(res => res.json())
                .then(res => {
                    this.chartOptions.series[0].data = res;
                });
            }

        },

        computed: {
            getFullName() {
                return this.$store.getters.getFullName
            }
        }

    }
</script>
