<template>
	<div>
		<div class="row login-row">
			<div class="col-3"></div>
			<div class="col-4">
						<br><br>
				<div class="card">
					<div class="card-body">
			        	<form @submit.prevent="authenticate()">
				            <h4>Login</h4>
				            <span class="txt1 p-b-11">Email</span>
				            <input id="email" type="email" class="form-control" v-model="email" value="" required autocomplete="email" autofocus>
				            <span class="txt1 p-b-11">Password</span>
				            <input id="password" type="password" class="form-control" v-model="password" required autocomplete="current-password">
				            <br>
			               	<button type="submit" class="btn btn-dark">Login</button>
			      		</form>
					</div>
				</div>
			</div>
			<div class="col-5"></div>
		</div>
	</div>
</template>

<script type="text/javascript">
	export default {
		name: "App2",
		data() {
			return {
            	//sidebar_show: false,
				email : '',
				password : ''
			};
		},

        created() {
            //this.sidebar_show = false;
        },

		methods : {

			authenticate : function() {
				var fields = {
					email:this.email, 
					password:this.password
				};

				axios.post('/api/authentication', fields)
				.then(res => {
					localStorage.setItem('user_id', res['data']['id']);
					localStorage.setItem('user_name', res['data']['full_name']);
					localStorage.setItem('user_email', res['data']['email']);
					localStorage.setItem('user_role', res['data']['role_id']);

		            this.$store.commit('fullName', res['data']['full_name']);

		            if (res['data']['role_id'] == 1) {
		                this.$store.commit('setIsAdmin', true);
		            }

					this.$router.push('/home');
				})
				.catch(error  => {
					if (error.response.status == 422) {
						var err_msg = "";
						$.each(error.response.data.errors, function(key, value){
							err_msg += "" + value[0] + "\n";
						});
						alert(err_msg);
					}
				});
			}
		}
	};
</script>