<template>
    <div>
        <h3>Roles</h3>
        <table id="user-data" class="table table-bordered">
            <thead>
                <tr>
                    <!-- <th width="5%" align="center" colspan="2"><router-link :to="{ name: 'roles-create'}">Add</router-link></th>
                    <th width="10%" align="center">Id</th> -->
                    <th width="40%">Name</th>
                    <th width="40%">Description</th>
                    <th width="20%">Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr v-on:click="getData(role.id)" v-for="(role, key) in roles" v-bind:key="role.id">
                    <td>{{ role.name }}</td>
                    <td>{{ role.description }}</td>
                    <td>{{ role.created_at }}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-2 text-right">
                <b-button v-b-modal.formModal @click="hideDeleteBtn">Add Role</b-button>
            </div>
        </div>

        <b-modal ref="formModal"  id="formModal" title="Add Role"  hide-footer>
            <form @submit.prevent="RoleSubmit()">
                <div class="row">
                    <div class="col-lg-4">
                        Name
                    </div>
                    <div class="col-lg-8">
                        <input id="name" type="text" class="form-control" v-model="name" value="">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        Description
                    </div>
                    <div class="col-lg-8">
                        <input id="description" type="text" class="form-control" v-model="description">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-2 text-right">
                        <button type="button" class="btn btn-danger" v-on:click="RoleDelete(id)" v-if="deleteBtn">Delete</button>
                    </div>
                    <div class="col-lg-10 text-right">
                        <input id="id" type="hidden" class="form-control" v-model="id">
                        <b-button @click="hideModal()">Cancel</b-button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </b-modal>

    </div>
</template>

<script>

    import { BButton, BModal, VBModal } from 'bootstrap-vue' //Importing  
    export default {
        name: 'App',
        components: { BButton, BModal },
        directives: { 'b-modal': VBModal },

        data() {
            return {
                id : '',
                name : '',
                description : '',
                deleteBtn: true,
                roles : [],
                role : {
                    id : '',
                    name : '',
                    description : '',
                    created_at : ''
                }
            };
        },


        created() {
            this.fetchRoles();
        },

        methods : {
            hideModal() {
                this.$refs['formModal'].hide();
            },
            
            hideDeleteBtn() {
                this.deleteBtn = false;
                this.id = '';
                this.name = '';
                this.description = '';
            },
            fetchRoles() {
                fetch('/api/roles')
                    .then(res => res.json())
                    .then(res => {
                        this.roles = res['data'];
                    });
            },

            getData(param_id) {
                if (param_id != 1) {
                    fetch('/api/roles/' + param_id)
                        .then(res => res.json())
                        .then(res => {
                            this.id = res.id;
                            this.name = res.name;
                            this.description = res.description;
                    });

                    this.deleteBtn = true;
                    this.$refs['formModal'].show();
                } else {
                    alert('Cannot modify this item!');
                }
            },

            RoleDelete: function(id) {
                if (param_id != 1) {

                    var fields = {
                        id: this.id,
                        _method: 'DELETE'
                    };

                    axios.post('/api/roles/' + id, fields)
                    .then(res => { 
                        this.fetchRoles();
                        alert('Role Successfully Deleted!');
                        this.$refs['formModal'].hide();
                    })
                    .catch(error  => {
                        if (error.response.status == 422) {
                            var err_msg = "";
                            $.each(error.response.data.errors, function(key, value){
                                err_msg += "" + value[0] + "\n";
                            });
                            alert(err_msg);
                        }
                    });
                } else {
                    alert('Cannot modify this item!');
                }

            },

            RoleSubmit: function() {

                var fields = {
                    id: this.id,
                    name: this.name, 
                    description: this.description
                };

                var url = '/api/roles';

                if (this.id != '') {
                    url = '/api/roles/' + this.id;
                    fields['_method'] = 'PUT';
                }

                axios.post(url, fields)
                .then(res => {
                    if (this.id == '') {
                        this.name = '';
                        this.description = '';
                        this.id = '';
                    }
                    alert(res.data['message']);
                    this.fetchRoles();
                })
                .catch(error  => {
                    if (error.response.status == 422) {
                        var err_msg = "";
                        $.each(error.response.data.errors, function(key, value){
                            err_msg += "" + value[0] + "\n";
                        });
                        alert(err_msg);
                    }
                });

            }
        }
    }
</script>
