<template>
	<div>
		<h4 class="sb-logo">Code Exam</h4>
        <h5>{{ fullName }}</h5>
		<ul class="nav flex-column">
		    <li class="nav-item">
		        <router-link :to="{ name: 'home'}">Home</router-link>
		    </li>
		    <li class="nav-item">
		        <router-link :to="{ name: 'expenses'}">Expenses</router-link>
		    </li>
		    <li class="nav-item" v-show="isAdmin">
		        <router-link :to="{ name: 'roles'}">Roles</router-link>
		    </li>
		    <li class="nav-item" v-show="isAdmin">
		        <router-link :to="{ name: 'expense-category'}">Expense Category</router-link>
		    </li>
		    <li class="nav-item" v-show="isAdmin">
		        <router-link :to="{ name: 'users'}">Users</router-link>
		    </li>
		    <li class="nav-item">
		        <router-link :to="{ name: 'change-password'}">Change Password</router-link>
		    </li>
		    <li class="nav-item">
		        <router-link :to="{ name: 'logout'}">Logout</router-link>
		    </li>
		</ul>
	</div>
</template>

<script>
    export default {
        name: 'App',

        data() {
            return {
                //full_name: ""
            };
        },

        created() {

            this.full_name = localStorage.getItem( 'user_name' );
        },

        computed: {
            isAdmin() {
                return this.$store.getters.isAdmin
            },
            fullName() {
                return this.$store.getters.fullName
            }
        }
    }
</script>




				