<template>
    <div>
        <h3>Users</h3>
        <table id="user-data" class="table table-bordered">
            <thead>
                <tr>
                    <th width="30%">Name</th>
                    <th width="30%">Email</th>
                    <th width="20%">Role</th>
                    <th width="20%">Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(row, key) in rows" v-bind:key="row.id" v-on:click="getData(row.id, row.role_id)">
                    <td>{{ row.full_name }}</td>
                    <td>{{ row.email }}</td>
                    <td>{{ row.role }}</td>
                    <td>{{ row.created_at }}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-2 text-right">
                <b-button v-b-modal.formModal @click="hideDeleteBtn">Add User</b-button>
            </div>
        </div>

        <b-modal ref="formModal"  id="formModal" title="Add User"  hide-footer>
            <form @submit.prevent="submit()">
                <div class="row">
                    <div class="col-lg-4">
                        Name
                    </div>
                    <div class="col-lg-8">
                        <input id="full_name" type="text" class="form-control" v-model="full_name" value="">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        Email
                    </div>
                    <div class="col-lg-8">
                        <input id="email" type="text" class="form-control" v-model="email">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        Role
                    </div>
                    <div class="col-lg-8">
                        <select id="role_id" class="form-control" v-model="role_id">
                            <option value=""></option>
                            <option v-model="role_id" v-for="(role, key) in roles" :value="role.id">{{ role.name }}</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-2 text-right">
                        <button type="button" class="btn btn-danger" v-on:click="rowDelete(id)" v-if="deleteBtn">Delete</button>
                    </div>
                    <div class="col-lg-10 text-right">
                        <input id="id" type="hidden" class="form-control" v-model="id">
                        <b-button @click="hideModal()">Cancel</b-button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </b-modal>
    </div>
</template>

<script>
    import { BButton, BModal, VBModal } from 'bootstrap-vue'  
    export default {
        name: 'App',
        components: { BButton, BModal },
        directives: { 'b-modal': VBModal },

        data() {
            return {
                id : '',
                full_name : '',
                email : '',
                role_id : '',
                role : '',
                created_at : '',
                deleteBtn: true,

                rows : [],
                row : {
                    id : '',
                    full_name : '',
                    email : '',
                    role : '',
                    role_id : '',
                    created_at : ''
                },

                roles: []
            };
        },


        created() {
            this.fetchRows();
            this.fetchRoles();
        },

        methods : {
            hideModal() {
                this.$refs['formModal'].hide();
            },
            
            fetchRoles() {
                fetch('/api/roles')
                    .then(res => res.json())
                    .then(res => {
                        this.roles = res['data'];
                    });
            },

            hideDeleteBtn() {
                this.deleteBtn = false;
                this.id = '';
                this.full_name = '';
                this.email = '';
                this.role_id = '';
            },

            getData(param_id, role_id) {
                if (role_id != 1 || param_id == localStorage.getItem( 'user_id' )) {
                    fetch('/api/users/' + param_id)
                        .then(res => res.json())
                        .then(res => {
                            this.id = res.id;
                            this.full_name = res.full_name;
                            this.email = res.email;
                            this.role_id = res.role_id;
                    });

                    this.deleteBtn = true;
                    this.$refs['formModal'].show();
                } else if (role_id == 1 && param_id == localStorage.getItem( 'user_id' )) {
                    fetch('/api/users/' + param_id)
                        .then(res => res.json())
                        .then(res => {
                            this.id = res.id;
                            this.full_name = res.full_name;
                            this.email = res.email;
                            this.role_id = res.role_id;
                    });

                    this.deleteBtn = true;
                    this.$refs['formModal'].show();
                } else {
                    alert('Cannot modify Admin account!');
                }
            },

            fetchRows() {
                fetch('/api/users')
                    .then(res => res.json())
                    .then(res => {
                        this.rows = res['data'];
                    });
            },

            rowDelete: function(id) {

                var fields = {
                    id: this.id,
                    _method: 'DELETE'
                };

                axios.post('/api/users/' + id, fields)
                .then(res => { 
                    this.fetchRows();
                    alert('User Successfully Deleted!');
                    this.$refs['formModal'].hide();
                })
                .catch(error  => {
                    if (error.response.status == 422) {
                        var err_msg = "";
                        $.each(error.response.data.errors, function(key, value){
                            err_msg += "" + value[0] + "\n";
                        });
                        alert(err_msg);
                    }
                });

            },

            submit: function() {

                var fields = {
                    id: this.id,
                    full_name: this.full_name, 
                    email: this.email, 
                    role_id: this.role_id
                };

                var url = '/api/users';

                if (this.id != '') {
                    url = '/api/users/' + this.id;
                    fields['_method'] = 'PUT';
                }

                axios.post(url, fields)
                .then(res => {
                    if (this.id == '') {
                        this.id = '';
                        this.full_name = '';
                        this.email = '';
                        this.role_id = '';
                    }
                    alert(res.data['message']);
                    this.fetchRows();
                })
                .catch(error  => {
                    if (error.response.status == 422) {
                        var err_msg = "";
                        $.each(error.response.data.errors, function(key, value){
                            err_msg += "" + value[0] + "\n";
                        });
                        alert(err_msg);
                    }
                });

            }
        }
    }
</script>
